.new-tech-page {
    position: relative;
    font-size: 14px;
}

.new-tech-page h1,
.new-tech-page h2,
.new-tech-page h3 {
    color: #000;
    font-weight: 800;
}

.text-neon-green {
    color: #1DF9A5;
}

.btn-contact-primary {
    border: 1px solid #ea2323;
    background-color: #ea2323;
    border-radius: 25px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 30px;
}

.btn-contact-primary.--neon-green {
    background-color: #1DF9A5;
    border: 1px solid #1DF9A5;
    color: #000;
}

.btn-contact-primary:hover {
    color: #fff;
    background-color: #B60300;
}

.btn-contact-primary.--neon-green:hover {
    color: #000;
    background-color: #1DF9A5;
}


.new-tech-page .service-banner {
    padding-top: 50px;
}

.service-banner p,
.service-banner h1 {
    color: #000;
}

.banner-title {
    font-size: 32px;
    font-weight: 800;
}

.title-description {
    font-size: 16px;
}

.service-strapline {
    color: #0A09054D !important;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.gradient-background {
    background-color: #fff;
    background-image: radial-gradient(circle at center bottom, #F0CA8D 0%, #fff 30%);
}
.gradient-background.--purple-red {
    background-image: linear-gradient(to right, #72195A, #E64940 );
}

.gradient-cirle {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: linear-gradient(to right, #F89E3569, #F83535 80%);
    border-radius: 50%;
}

.gradient-cirle.--small {
    width: 30px;
    height: 30px;
}

.overlapped-box {
    padding: 15px;
    width: calc(100% - 60px);
    border-radius: 24px;
    box-shadow: 0 5px 23.4px 0 #ADADAD40;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 30px;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    z-index: 1;
}

.contact-link {
    color: #ea2323;
    padding-bottom: 5px;
    border-bottom: 1px solid #ea2323;
    font-weight: 800;
}

.contact-link:hover {
    color: #B60300;
    text-decoration: none;
}

.hover-box {
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 5px 23.4px 0 #ADADAD40;
    transition: all .5s ease;
    position: relative;
    padding: 20px;
    font-size: 14px;
    z-index: 2;
}

.numbered-background {
    counter-increment: numbered-background;
}
.numbered-background__wrapper {
    position: relative;
    max-width: 325px;
    padding-top: 100px;
}
.numbered-background__wrapper::before {
    position: absolute;
    content: counter(numbered-background, decimal-leading-zero);
    font-size: 180px;
    font-weight: 900;
    color: #E53616;
    opacity: .12;
    left: 0;
    top: -48px;
    z-index: -1;
}

.tech-blog-article-wrapper {
    background-color: #F6F6F6;
    border-radius: 0;
    padding: 15px 30px;
}

.cards-as-buttons .card {
    z-index: 2;
    border-radius: 24px;
    padding: 0 25px;
    box-shadow: 0 5px 23.4px 0 #ADADAD40;
}

.cards-as-buttons .card::before {
    display: none;
}

.cards-as-buttons .card-body {
    padding-top: 15px;
    border-top: 1px solid #000;
}

.new-tech-page .btn-link {
    width: 100%;
}

.new-tech-page .btn-link,
.new-tech-page .btn-link.collapsed {
    font-size: 14px;
}


.new-tech-page .btn-link,
.new-tech-page .btn-link:hover,
.new-tech-page .btn-link:hover::before {
    font-weight: 800;
    color: #F89500;
}

.new-tech-page .btn-link.collapsed {
    font-weight: 800;
    color: #000;
}

.new-tech-page .btn-link::before {
    content: "";
    background: #F89500;
    -ms-transform: none;
    transform: none;
    width: 10px;
    height: 2px;
    border-radius: 10px;
    top: 33px;
}

.new-tech-page .btn-link.collapsed::before {
    content: "";
    background: #000;
    -ms-transform: none;
    transform: none;
    width: 10px;
    height: 2px;
    border-radius: 10px;
    top: 33px;
    right: 5px;
}

.new-tech-page .btn-link.collapsed::after {
    position: absolute;
    content: "";
    background: #000;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 10px;
    height: 2px;
    border-radius: 10px;
    right: 5px;
    top: 33px;
}

.new-tech-page .osd-tab__nav {
    position: static;
}

.new-tech-page .osd-tab__category {
    padding: 15px 0 10px;
    margin: 0;
    font-size: 14px;
    font-weight: 800;
    display: inline-block;
    width: 100%;
    color: #000;
}

.osd-tab__category.active,
.new-tech-page .osd-tab__category:hover {
    text-decoration: none;
    color: #F89500;
}

.new-tech-page .osd-tab__category::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #0A09054D;
    bottom: 0;
    left: 0;
}

.new-tech-page .osd-tab__category.active::before,
.new-tech-page .osd-tab__category:hover::before {
    background-color: #F89500;
    height: 2px;
}

.new-tech-page .osd-tab__category::after {
    display: none;
}

.new-tech-page .osd-tab__category.active::after {
    position: absolute;
    display: block;
    content: "";
    right: 15px;
    left: auto;
    bottom: 15px;
    width: 12px;
    height: 16px;
    border: none;
    background-color: transparent;
    background-image: url(/Themes/Content/Images/technologies/react-js/icon-orange-arrow-down.svg);
}


.banner-footer {
    padding: 150px 0;
}

.curved-top-bg {
    position: absolute;
    width: 170%;
    height: 300px;
    background-color: #fff;
    top: -100px;
    left: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 1;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.curved-bottom-bg {
    position: absolute;
    width: 170%;
    height: 300px;
    background-color: #333;
    bottom: -100px;
    left: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 1;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.tech-toc {
    display: none;
    font-size: 14px;
    max-width: 250px;
    overflow: hidden;
    z-index: 3;
}

.tech-toc__item {
    color: #9C9C9C;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: middle;
}


.new-tech-page .title-container__img.--small-img {
    flex: 1 1 60px;
    max-width: 60px;
}
.new-tech-page .title-container__title {
    flex: 1 1 calc(100% - 130px);
    max-width: calc(100% - 130px);
}

.new-tech-page .article-detail__content-map a {
    padding-left: 0;
    border: none;
    transition: all .5s ease;
}
.new-tech-page .article-detail__content-map a.active {
    padding-left: 15px;
    border-left: 2px solid #f93635;
    color: #858585;
    font-weight: 400;
}
.new-tech-page .hide-scrollbar {
    max-height: 80vh;
}

.new-tech-page .card-body {
    font-size: 14px;
    margin-top: 0;
    padding-left: 0;
}

#navigate-card {
    position: fixed;
    width: 100%;
    padding: 0;
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    top: 50px;
    z-index: 4;
    background: #fff;
}

#navigate-card-collapse-1 {
    width: 100%;
    background: #fff;
    box-shadow: 0 6px 13px 0 #ADADAD40;
}

#navigate-card .card {
    border-radius: 0;
    background: none;
    padding: 0;
    box-shadow: none;
    width: 100%;
}

#navigate-card .card-header {
    border-radius: 0;
    padding: 6px 30px;
    background-color: #72195A;
}

#navigate-card .btn-link {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
#navigate-card .btn-link::before,
#navigate-card .btn-link::after {
    background: #fff;
    width: 12px;
    right: 32px;
    top: 21px;
}

#navigate-card .card-body {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}
#navigate-card .card-body ul {
    padding-left: 30px;
    list-style: none;
}
#navigate-card .card-body li {
    list-style: none;
}

#navigate-card .btn-contact-primary {
    display: none;
}

.hide-on-scroll {
    opacity: 0;
    visibility: hidden;
}


.new-tech-page .article-list__item__title,
.tech-blog-article-wrapper__title {
    font-size: 14px;
}

@media screen and (max-width: 575px) {
    .new-tech-page .article-list__item.--small {
        max-height: max-content;
    }
    .new-tech-page .article-list__item__header {
        height: auto;
    }
}



@media screen and (min-width: 576px) {
    #navigate-card {
        padding: 15px 30px 0;
        box-shadow: 0 6px 13px 0 #ADADAD40;
    }

    #navigate-card .card {
        padding: 0;
        position: relative;
        width: 100%;
        max-width: calc(50% - 15px);
    }

    #navigate-card .card-header {
        border-radius: 24px;
    }

    #navigate-card .card-body ul {
        padding-left: 0;
    }

    #navigate-card .btn-contact-primary {
        display: block;
        position: relative;
        width: 100%;
        max-width: calc(50% - 15px);
    }

    #navigate-card-collapse-1 {
        box-shadow: none;
    }
}

@media screen and (min-width: 768px) {
    .new-tech-page .service-banner {
        padding-top: 60px;
    }

    .banner-title {
        font-size: 40px;
    }

    .curved-top-bg {
        width: 110%;
        top: -60px;
    }

    .curved-bottom-bg {
        width: 110%;
        bottom: -60px;
    }

    .numbered-background__wrapper::before {
        top: -35px;
    }
    .tech-blog-article-wrapper {
        border-radius: 24px;
        margin: 0;
        padding: 20px;
    }
}

@media screen and (min-width: 992px) {
    .banner-title {
        font-size: 48px;
    }

    .banner-footer {
        padding: 250px 0 200px;
    }

    .curved-top-bg {
        top: 0;
    }

    .overlapped-box {
        padding: 30px;
    }

    .overlapped-box .--bordered-lg-right {
        border-right: 1px solid #000;
    }

    .text-size-lg-60 {
        font-size: 60px;
    }

    .title-description {
        font-size: 20px;
    }

    .numbered-background__wrapper {
        padding-top: 40px;
    }
    .numbered-background__wrapper::before {
        left: 50%;
        top: -44px;
        -ms-transform: translateX(-55%);
        transform: translateX(-55%);
    }

    .hover-box {
        min-height: 423px;
    }

    .hover-box:hover.hover-box--orange {
        background-color: #FF7E01;
        color: #fff;
    }
    .hover-box:hover.hover-box--red {
        background-color: #E53616;
        color: #fff;
    }
    .hover-box:hover.hover-box--purple {
        background-color: #72195A;
        color: #fff;
    }

    .hover-box__content-title {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .hover-box:hover .hover-box__content-title {
        position: static;
        margin-bottom: 30px;
        color: #fff;
    }

    .hover-box:hover .hover-box__hide,
    .hover-box__show {
        display: none;
    }

    .hover-box:hover .hover-box__show {
        display: block;
    }

    .gradient-cirle {
        width: 123px;
        height: 123px;
    }

    .gradient-cirle.--small {
        width: 68px;
        height: 68px;
    }

    .new-tech-page .osd-tab__category {
        padding: 0 0 10px;
    }

    .new-tech-page .osd-tab__category::after,
    .new-tech-page .osd-tab__category.active::after {
        display: none;
    }

    .new-tech-page .article-list__item__title {
        font-size: 16px;
    }

    .tech-blog-article-wrapper__title {
        font-size: 24px;
    }
}

@media screen and (min-width: 1230px) {
    #navigate-card {
        position: fixed;
        padding: 15px 15px 0;
        width: 250px;
        top: 60px;
        right: calc((100% - 1300px) / 2);
        box-shadow: none;
    }

    #navigate-card .card {
        max-width: none;
        padding: 0;
        margin-bottom: 15px;
    }

    #navigate-card .btn-contact-primary {
        max-width:none;
    }

    .overlapped-box {
        left: calc((100% - 1170px) / 2);
    }
}


@media screen and (min-width: 1300px) {
    .fixed-on-scroll ~ .btn-contact-primary {
        right: calc((100% - 1330px) / 2);
    }

    .tech-toc {
        right: calc((100% - 1330px) / 2);
        display: block;
    }
}

@media screen and (min-width: 1367px) {
    #navigate-card {
        right: calc((100% - 1370px) / 2);
    }

    .fixed-on-scroll ~ .btn-contact-primary,
    .tech-toc {
        right: calc((100% - 1370px) / 2);
    }
}
