.new-tech-page {
    font-size: 13px;
    font-weight: 400;
    position: relative;
}

.new-tech-page .main-grid,
.new-tech-page .main-grid__content,
.new-tech-page .main-grid__article-content {
    padding-left: 20px;
    padding-right: 20px;
}

.new-tech-page h1,
.new-tech-page h2,
.new-tech-page h3 {
    color: #000;
    font-weight: 800;
}

.new-tech-page.--service {
    font-family: "Poppins", sans-serif !important;
}

.new-tech-page.--service h1,
.new-tech-page.--service h2,
.new-tech-page.--service h3,
.new-tech-page.--service h3 a,
.new-tech-page.--service h4,
.new-tech-page.--service strong {
    font-weight: 500;
    font-family: "Poppins", sans-serif !important;
}

.new-tech-page.--service .article-list__item__meta {
    font-size: 14px;
    font-weight: 500;
}

.text-neon-green {
    color: #1DF9A5!important;
}

.text-orange {
    color: #FF7E01!important;
}

.text-dark-violet {
    color: #72195A!important;
}

.text-white a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.btn-contact-primary {
    border: none;
    background-color: #ea2323;
    background-image: linear-gradient(to right, #5D285F, #E64940);
    background-size: 0 100%;
    background-repeat: no-repeat;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 30px;
    transition: ease .4s;
}

.btn-contact-primary:hover,
.btn-contact-primary:focus {
    color: #fff;
    background-size: 100% 100%;
    box-shadow: none;
}

.btn-contact-primary.--neon-green {
    background-color: #1DF9A5;
    background-image: linear-gradient(to right, #52cd9e 70%, #1DF9A5 100%);
    color: #000;
}


.service-banner p,
.service-banner h1 {
    color: #000;
}

.banner-title {
    font-size: 28px;
    line-height: 1.1;
    font-weight: 800;
}

.--service .banner-title {
    font-weight: 500;
}

.service-strapline {
    color: #0A09054D !important;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.new-tech-page .service-banner {
    padding-top: 50px;
}




.gradient-background {
    background-color: #fff;
    background-image: radial-gradient(circle at center bottom, #F0CA8D 0%, #fff 30%);
}
.gradient-background.--purple-red {
    background-image: linear-gradient(to right, #72195A, #E64940 );
}

.gradient-cirle {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: linear-gradient(to right, #F89E3569, #F83535 80%);
    border-radius: 50%;
}

.gradient-cirle.--small {
    width: 30px;
    height: 30px;
}

.overlapped-box {
    padding: 15px;
    width: calc(100% - 40px);
    border-radius: 24px;
    box-shadow: 0 5px 23.4px 0 #ADADAD40;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 20px;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    z-index: 1;
}

.view-more-link {
    cursor: pointer;
    background: linear-gradient(0deg, #72195A, #E64940);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    position: relative;
}

.view-more-link .view-more-link__arrow {
    width: 22px;
    height: 20px;
    background-image: url(/Themes/Content/Images/icon/arrow-gradient-red.svg);
    vertical-align: middle;
    margin-left: 10px;
}

.view-more-link:hover .view-more-link__arrow {
    background-image: url(/Themes/Content/Images/icon/arrow-gradient-red-hover.svg);
}

.view-more-link:hover {
    background: #E64940;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #E64940;
    text-decoration: none;
}

.view-more-link:hover::after {
    background: #E64940;
}

.view-more-link:hover svg path {
    fill: #E64940;
}

.view-more-link::after {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(0deg, #72195A, #E64940);
}

.view-more-link.text-white {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
}

.view-more-link.text-white::after {
    background: #fff;
}

.view-more-link.text-white:hover {
    opacity: .7;
}


.view-more-link.text-white svg path,
.view-more-link.text-white:hover svg path {
    fill: #fff;
}

.contact-link {
    cursor: pointer;
    color: #ea2323;
    padding-bottom: 5px;
    border-bottom: 1px solid #ea2323;
    font-weight: 800;
}

.contact-link:hover {
    color: #B60300;
    text-decoration: none;
}

.hover-box {
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 5px 23.4px 0 #ADADAD40;
    transition: all .5s ease;
    position: relative;
    padding: 20px;
    font-size: 14px;
    z-index: 2;
}

.round-box {
    border-radius: 50%;
    width: 100%;
    padding-top: 100%;
    margin: 30px auto;
    position: relative;
}

.--white-bg {
    background-color: #fff;
}

.--red-border {
    border: 1px  solid #EE3C39;
}

.--orange-border {
    border: 1px solid #FF7900;
}

.--orange-bg {
    background: #FF7900;
    color: #fff;
}

.--gradient-bg::before {
    position: absolute;
    content: "";
    width: 200%;
    height: 100%;
    background-image: linear-gradient(90deg, #FF7900, transparent);
    border-radius: 80px;
    top: 0;
    left: 5px;
}

.--gradient-bg-orange-red {
    background: linear-gradient(90deg, #F89E35 9.18%, #F83535 74.74%);
}

.--gradient-bg.--vertical-down::before {
    top: 5px;
    left: 0;
    transform: translateX(-50%) rotate(90deg);
    transform-origin: bottom;
}

.--gradient-bg.--vertical-up::before {
    top: -5px;
    left: 0;
    transform: translateX(-50%) rotate(-90deg);
    transform-origin: top;
}

.round-box__content {
    padding: 0 15%;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.round-box__clipping-img {
    position: absolute;
    width: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.round-box__index {
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
}

.numbered-background {
    counter-increment: numbered-background;
}
.numbered-background__wrapper {
    position: relative;
    max-width: 325px;
    padding-top: 100px;
}
.numbered-background__wrapper::before {
    position: absolute;
    content: counter(numbered-background, decimal-leading-zero);
    font-size: 180px;
    font-weight: 900;
    color: #E53616;
    opacity: .12;
    left: 0;
    top: -48px;
    z-index: -1;
}

.tech-blog-article-wrapper {
    background-color: #f2f2f2;
    border-radius: 0;
    padding: 20px;
}

.--service .tech-blog-article-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 0;
}

.cards-as-buttons .card {
    z-index: 2;
    border-radius: 24px;
    padding: 0 25px;
    box-shadow: 0 5px 23.4px 0 #ADADAD40;
}

.cards-as-buttons .card::before {
    display: none;
}

.cards-as-buttons .card-header {
    padding: 0 15px 0 0;
    min-height: 60px;
    line-height: 60px;
}

.cards-as-buttons .card-body {
    padding-top: 15px;
    border-top: 1px solid #000;
}

.new-tech-page .btn-link {
    width: 100%;
    color: #F89500;
}

.new-tech-page .btn-link.collapsed {
    color: #000;
}

.numbering {
    display: inline-block;
    padding-right: 20px;
}

.new-tech-page .btn-link::before {
    content: "";
    background: #F89500;
    -ms-transform: none;
    transform: none;
    width: 10px;
    height: 2px;
    border-radius: 10px;
    top: 28px;
}

.new-tech-page .btn-link.collapsed::before {
    content: "";
    background: #000;
    -ms-transform: none;
    transform: none;
    width: 10px;
    height: 2px;
    border-radius: 10px;
}

.new-tech-page .btn-link.collapsed::after {
    position: absolute;
    content: "";
    background: #000;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 10px;
    height: 2px;
    border-radius: 10px;
    right: 5px;
    top: 28px;
}

.new-tech-page .btn-link:hover,
.new-tech-page .btn-link.collapsed:hover {
    color: #F89500;
}

.new-tech-page .btn-link.collapsed:hover::before,
.new-tech-page .btn-link.collapsed:hover::after {
    background: #F89500;
}

.new-tech-page .osd-tab__nav {
    position: static;
}

.new-tech-page .osd-tab__category {
    padding: 15px 0 10px;
    margin: 0;
    font-size: 14px;
    font-weight: 800;
    display: inline-block;
    width: 100%;
    color: #000;
}

.new-tech-page.--service .osd-tab__category {
    font-weight: 600;
}

/* SERVICE FAQs */

#outsource-ai .osd-tab__category {
    opacity: .3;
    font-weight: 500;
    font-size: 16px;
    padding-left: 30px;
}

.new-tech-page.--service .card::before {
    display: none;
}

.new-tech-page.--service .card-header {
    padding: 7px 15px;
}

.new-tech-page.--service .btn-link,
.new-tech-page.--service .btn-link.--reverse.active {
    background-image: linear-gradient(90deg, #FF79001A 10%, #FC5B1066 40%, #F93822 100%);
    border: none;
    border-radius: 20px;
    padding: 13px 40px 13px 20px;
    color: #000;
    opacity: 1;
    text-decoration: none;
}

.new-tech-page.--service .btn-link .numbering,
.new-tech-page.--service .btn-link.--reverse.active .numbering,
.new-tech-page.--service .btn-link.--reverse.active:hover .numbering {
    color: #ea2323;
}

.new-tech-page.--service .btn-link.collapsed {
    background: #f2f2f2;
}

.new-tech-page.--service .btn-link.--reverse {
    background: transparent;
}

.new-tech-page.--service .btn-link.--reverse h3,
.new-tech-page.--service .btn-link.--reverse .numbering {
    color: #B3B3B3;
}

.new-tech-page.--service .btn-link.--reverse.active h3,
.new-tech-page.--service .btn-link h3,
.new-tech-page.--service .btn-link.collapsed h3 .numbering,
.new-tech-page.--service .btn-link.--reverse:hover h3,
.new-tech-page.--service .btn-link.--reverse:hover .numbering {
    color: #000;
}

.new-tech-page.--service .card-body {
    padding: 0 15px 20px;
}

.new-tech-page.--service .btn-link:hover {
    color: #000;
}

.new-tech-page.--service .btn-link::before {
    background: #fff;
    width: 12px;
    height: 1px;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
}

.new-tech-page.--service .btn-link.collapsed::before,
.new-tech-page.--service .btn-link.collapsed::after {
    background: #000;
}

.new-tech-page.--service .btn-link.collapsed::after {
    transform: translateY(-50%) rotate(90deg);
    width: 12px;
    height: 1px;
    border-radius: 10px;
    right: 35px;
    top: 50%;
}

.new-tech-page.--service .btn-link.--no-icon::before,
.new-tech-page.--service .btn-link.--no-icon::after {
    display: none;
}

.new-tech-page.--service .tech-blog-article-wrapper .card {
    background: none;
}

.new-tech-page.--service .tech-blog-article-wrapper .btn-link.collapsed {
    background: #fff;
}





.card .collapsing {
    transition: ease .5s;
}

.osd-tab__category.active,
.new-tech-page .osd-tab__category:hover {
    text-decoration: none;
    color: #F89500;
}

.new-tech-page .osd-tab__category::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #0A09054D;
    bottom: 0;
    left: 0;
}

.new-tech-page .osd-tab__category.active::before,
.new-tech-page .osd-tab__category:hover::before {
    background-color: #F89500;
    height: 2px;
}

.new-tech-page .osd-tab__category::after {
    display: none;
}

.new-tech-page .osd-tab__category.--show-arrow::after {
    transform: rotate(-90deg);
}

.new-tech-page .osd-tab__category.--show-arrow::before,
.new-tech-page .osd-tab__category.active.--show-arrow::before,
.new-tech-page .osd-tab__category.--show-arrow:hover::before {
    background-color: #DEDEDE;
    height: 1px;
}

.new-tech-page .osd-tab__category.active::after {
    position: absolute;
    display: block;
    content: "";
    right: 15px;
    left: auto;
    bottom: 15px;
    width: 12px;
    height: 16px;
    border: none;
    background-color: transparent;
    background-image: url(/Themes/Content/Images/technologies/react-js/icon-orange-arrow-down.svg);
}


.banner-footer {
    padding: 150px 0;
}

.--service .banner-footer {
    padding: 60px 0;
}

.curved-top-bg {
    position: absolute;
    width: 170%;
    height: 300px;
    background-color: #fff;
    top: -100px;
    left: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 1;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.curved-bottom-bg {
    position: absolute;
    width: 170%;
    height: 300px;
    background-color: #333;
    bottom: -100px;
    left: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 1;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.tech-toc {
    display: none;
    font-size: 14px;
    max-width: 250px;
    overflow: hidden;
    z-index: 3;
}

.tech-toc__item {
    color: #9C9C9C;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: middle;
}


.new-tech-page .title-container__img.--small-img {
    flex: 1 1 60px;
    max-width: 60px;
}
.new-tech-page .title-container__title {
    flex: 1 1 calc(100% - 130px);
    max-width: calc(100% - 130px);
}

.new-tech-page .article-detail__content-map a {
    padding-left: 0;
    border: none;
    transition: all .5s ease;
}
.new-tech-page .article-detail__content-map a.active {
    padding-left: 15px;
    border-left: 2px solid #f93635;
    color: #858585;
    font-weight: 400;
}
.new-tech-page .hide-scrollbar {
    max-height: 80vh;
}

.new-tech-page .card-body {
    font-size: 13px;
    margin-top: 0;
    padding-left: 0;
}

#navigate-card {
    position: fixed;
    width: 100%;
    padding: 0;
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    top: 50px;
    z-index: 4;
    background: #fff;
}

#navigate-card-collapse-1 {
    width: 100%;
    background: #fff;
    box-shadow: 0 6px 13px 0 #ADADAD40;
}

#navigate-card .card {
    border-radius: 0;
    background: none;
    padding: 0;
    box-shadow: none;
    width: 100%;
}

#navigate-card .card-header {
    border-radius: 0;
    padding: 0 30px;
    background-color: #72195A;
    min-height: 42px;
    line-height: 42px;
}

#navigate-card .btn-link {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
#navigate-card .btn-link::before,
#navigate-card .btn-link::after {
    background: #fff;
    width: 12px;
    right: 32px;
    top: 20px;
}

#navigate-card .card-body {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}
#navigate-card .card-body ul {
    padding-left: 30px;
    list-style: none;
}
#navigate-card .card-body li {
    list-style: none;
}

#navigate-card .btn-contact-primary {
    display: none;
}


.hide-on-scroll {
    opacity: 0;
    visibility: hidden;
}


.new-tech-page .article-list__item__title,
.tech-blog-article-wrapper__title {
    font-size: 14px;
}


.expanable-box {
    border-bottom: 1px solid #0A09054D;
}

.expanable-box__wrapper,
.expanable-box__wrapper.--show-on-desktop {
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.--overflow-y-auto {
    overflow-y: auto!important;
}

.expanable-box__button {
    cursor: pointer;
    display: block;
    color: #F89500;
    margin-bottom: 15px;
    margin-top: 15px;
}
.new-tech-page.--service .article-list__item {
    background: #fff;
    border-radius: 8px;
}

.new-tech-page.--service .article-list__item__header {
    height: auto;
    max-height: 185px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.new-tech-page .article-detail__fixed-part.sticky {
    position: absolute;
}


.new-tech-page.--service .article-detail__fixed-part {
    position: static;
    width: 100%;
    background-color: #fff;
}

.new-tech-page.--service .article-detail__fixed-part.sticky {
    position: fixed;
    top: 50px !important;
    right: 0;
    padding-top: 10px;
    z-index: 10;
}

.section-menu__item,
.section-menu {
    position: relative;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.5;
    color: #0A0905;
    width: 100%;
    display: block;
}

.section-menu__item:hover {
    color: #0A0905;
    text-decoration: none;
}

.section-menu::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ADADAD40;
    bottom: 0;
}

.section-menu__item.active::after,
.section-menu__item:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FF7900;
    left: 0;
    bottom: -14px;
}

.bordered-box-mobile {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 30px 20px 40px;
    transition: ease .5s;
}

.tab-nav-button {
    color: #000;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 9px 10px;
    font-size: 13px;
    font-weight: 500;
}

.tab-nav-button.active {
    border: none;
    background-color: #fff;
    padding: 10px 11px;
}

.tab-nav-button:hover {
    color: #000;
    text-decoration: none;
}




@media screen and (max-width: 575px) {
    .new-tech-page .article-list__item.--small {
        max-height: max-content;
    }
    .new-tech-page .article-list__item__header {
        height: auto;
    }
}



@media screen and (min-width: 576px) {
    #navigate-card {
        padding: 15px 30px 0;
        box-shadow: 0 6px 13px 0 #ADADAD40;
    }

    #navigate-card .card {
        padding: 0;
        position: relative;
        width: 100%;
        max-width: calc(50% - 15px);
    }

    #navigate-card .card-header {
        border-radius: 24px;
    }

    #navigate-card .card-body ul {
        padding-left: 0;
    }

    #navigate-card .btn-contact-primary {
        display: block;
        position: relative;
        width: 100%;
        max-width: calc(50% - 15px);
    }

    #navigate-card-collapse-1 {
        box-shadow: none;
    }
}

@media screen and (min-width: 768px) {
    .new-tech-page .service-banner {
        padding-top: 60px;
    }

    .curved-top-bg {
        width: 110%;
        top: -60px;
    }

    .curved-bottom-bg {
        width: 110%;
        bottom: -60px;
    }

    .numbered-background__wrapper::before {
        top: -35px;
    }
    .tech-blog-article-wrapper {
        border-radius: 24px;
        margin: 0;
    }

    .section-menu__item,
    .section-menu {
        font-size: 16px;
    }

    .new-tech-page.--service .btn-link::before,
    .new-tech-page.--service .btn-link.collapsed::after {
        width: 16px;
        height: 2px;
        right: 45px;
    }

    .new-tech-page.--service .btn-link,
    .new-tech-page.--service .btn-link.--reverse.active {
        padding: 13px 60px 13px 30px;
    }

    .--gradient-bg-orange-red-md-hover:hover {
        background: linear-gradient(90deg, #F89E35 9.18%, #F83535 74.74%);
        border: none;
    }

    .toggle-md-hover:hover .hide-on-hover,
    .toggle-md-hover .show-on-hover {
        display: none;
    }

    .toggle-md-hover:hover .show-on-hover {
        display: block;
    }

    .tab-nav-button {
        padding: 9px 20px;
        font-size: 16px;
    }

    .tab-nav-button.active {
        padding: 10px 21px;
    }
}

@media screen and (min-width: 992px) {
    .new-tech-page,
    .new-tech-page .card-body {
        font-size: 14px;
    }

    .banner-footer {
        padding: 250px 0 200px;
    }

    .--service .banner-footer {
        padding: 100px 0;
    }

    .curved-top-bg {
        top: 0;
    }

    .overlapped-box {
        padding: 30px;
    }

    .--bordered-lg-right {
        border-right: 1px solid #000;
    }

    .numbered-background__wrapper {
        padding-top: 40px;
    }
    .numbered-background__wrapper::before {
        left: 50%;
        top: -44px;
        -ms-transform: translateX(-55%);
        transform: translateX(-55%);
    }

    .hover-box {
        min-height: 423px;
    }

    .hover-box:hover.hover-box--orange {
        background-color: #FF7E01;
        color: #fff;
    }
    .hover-box:hover.hover-box--red {
        background-color: #E53616;
        color: #fff;
    }
    .hover-box:hover.hover-box--purple {
        background-color: #72195A;
        color: #fff;
    }

    .hover-box__content-title {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .hover-box:hover .hover-box__content-title {
        position: static;
        margin-bottom: 30px;
        color: #fff;
    }

    .hover-box:hover .hover-box__hide,
    .hover-box__show {
        display: none;
    }

    .hover-box:hover .hover-box__show {
        display: block;
    }

    .gradient-cirle {
        width: 123px;
        height: 123px;
    }

    .gradient-cirle.--small {
        width: 68px;
        height: 68px;
    }

    .new-tech-page .osd-tab__category {
        padding: 0 0 10px;
    }

    .new-tech-page .osd-tab__category::after,
    .new-tech-page .osd-tab__category.active::after {
        display: none;
    }

    .new-tech-page .osd-tab__category.active.--show-arrow::after {
        display: block;
        bottom: 18px;
    }

    .--service .tech-blog-article-wrapper {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .tech-blog-article-wrapper__title {
        font-size: 24px;
    }

    .expanable-box {
        border-bottom: none;
    }

    .expanable-box__wrapper {
        overflow: auto;
        text-overflow: initial;
        display: block;
        -webkit-line-clamp: initial;
    }

    .expanable-box__title {
        padding-bottom: 20px;
        position: relative;
        border-bottom: 1px solid #000;
    }

    .bordered-box-mobile {
        border: none;
        padding: 0 40px 0;
    }
}

@media screen and (min-width: 1230px) {
    .banner-title.--big {
        font-size: 60px;
    }

    #navigate-card {
        position: fixed;
        padding: 15px 15px 0;
        width: 250px;
        top: 60px;
        right: calc((100% - 1300px) / 2);
        box-shadow: none;
    }

    #navigate-card .card {
        max-width: none;
        padding: 0;
        margin-bottom: 15px;
    }

    #navigate-card .btn-contact-primary {
        max-width:none;
    }

    .overlapped-box {
        left: calc((100% - 1190px) / 2);
    }
}


@media screen and (min-width: 1300px) {
    .tech-toc {
        right: calc((100% - 1330px) / 2);
        display: block;
        position: absolute;
        top: 150px;
    }
}

@media screen and (min-width: 1367px) {
    #navigate-card {
        right: calc((100% - 1370px) / 2);
    }

    .tech-toc {
        right: calc((100% - 1370px) / 2);
    }
}
