.new-tech-page {
    position: relative;
    font-size: 14px;
}

.new-tech-page h1,
.new-tech-page h2,
.new-tech-page h3 {
    color: #000;
    font-weight: 800;
}

.text-neon-green {
    color: #1DF9A5;
}

.btn-contact-primary {
    border: 1px solid #ea2323;
    background-color: #ea2323;
    border-radius: 25px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 30px;
}

.btn-contact-primary.--neon-green {
    background-color: #1DF9A5;
    border: 1px solid #1DF9A5;
    color: #000;
}

.btn-contact-primary:hover {
    color: #fff;
}

.btn-contact-primary.--neon-green:hover {
    color: #000;
}

.service-banner p,
.service-banner h1 {
    color: #000;
}

.title-description {
    font-size: 18px;
}

.service-banner .service-strapline {
    color: #0A09054D;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
}

.gradient-background {
    background-color: #fff;
    background-image: radial-gradient(at center bottom, #F0CA8D 0%, #fff 30%);
}
.gradient-background.--center {
    background-image: radial-gradient(circle at center 55%, #F0CA8D 0%, #fff 48%);
}
.gradient-background.--purple-red {
    background-image: linear-gradient(to right, #72195A, #E64940 );
}

.gradient-cirle {
    position: absolute;
    width: 123px;
    height: 123px;
    background-image: linear-gradient(to right, #F89E3569, #F83535 80%);
    border-radius: 50%;
}

.gradient-cirle.--small {
    width: 68px;
    height: 68px;
}

.overlapped-box {
    padding: 30px;
    width: calc(100% - 30px);
    border-radius: 24px;
    box-shadow: 0 5px 23.4px 0 #ADADAD40;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 15px;
    transform: translateY(50%);
    z-index: 1;
}

.contact-link {
    color: #ea2323;
    padding-bottom: 5px;
    border-bottom: 1px solid #ea2323;
    font-weight: 800;
}

.hover-box {
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 5px 23.4px 0 #ADADAD40;
    transition: all .5s ease;
    min-height: 220px;
    position: relative;
    padding: 20px;
    font-size: 14px;
    z-index: 2;
}

.hover-box:hover.hover-box--orange {
    background-color: #FF7E01;
    color: #fff;
}
.hover-box:hover.hover-box--red {
    background-color: #E53616;
    color: #fff;
}
.hover-box:hover.hover-box--purple {
    background-color: #72195A;
    color: #fff;
}

.hover-box__content-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.hover-box:hover .hover-box__content-title {
    position: static;
    margin-bottom: 30px;
    color: #fff;
}

.hover-box:hover .hover-box__hide,
.hover-box__show {
    display: none;
}

.hover-box:hover .hover-box__show {
    display: block;
}

.numbered-background {
    counter-increment: numbered-background;
}
.numbered-background__wrapper {
    position: relative;
    padding-top: 40px;
}
.numbered-background__wrapper::before {
    position: absolute;
    content: counter(numbered-background, decimal-leading-zero);
    font-size: 180px;
    font-weight: 800;
    color: #E53616;
    opacity: .12;
    left: 50%;
    top: -44px;
    transform: translateX(-55%);
}

.tech-blog-article-wrapper {
    background-color: #F6F6F6;
    padding: 20px;
}

.cards-as-buttons .card {
    z-index: 2;
    border-radius: 24px;
    padding: 0 15px;
    box-shadow: 0 5px 23.4px 0 #ADADAD40;
}

.cards-as-buttons .card::before {
    display: none;
}

.new-tech-page .btn-link {
    width: 100%;
}

.new-tech-page .btn-link,
.new-tech-page .card-body,
.new-tech-page .btn-link.collapsed {
    font-size: 14px;
}

.new-tech-page .btn-link,
.new-tech-page .btn-link:hover,
.new-tech-page .btn-link:hover::before {
    font-weight: 800;
    color: #F89500;
}

.new-tech-page .btn-link.collapsed {
    font-weight: 800;
    color: #000;
}

.new-tech-page .btn-link::before {
    content: "-";
    background: none;
    transform: translateY(-17px);
    color: #F89500;
    font-size: 20px;
}

.new-tech-page .btn-link.collapsed::before {
    content: "+";
    transform: translateY(-17px);
    color: #000;
    font-size: 20px;
}

.new-tech-page .osd-tab__category {
    padding: 0 0 7px;
    margin: 0;
    font-size: 14px;
    font-weight: 800;
    display: inline-block;
    width: 100%;
    color: #000;
}

.osd-tab__category.active,
.new-tech-page .osd-tab__category:hover {
    text-decoration: none;
    color: #F89500;
}

.new-tech-page .osd-tab__category::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #0A09054D;
    bottom: -6px;
    left: 0;
}
.new-tech-page .osd-tab__category::after {
    background-color: #F89500;
}

.banner-footer {
    padding: 300px 0;
}

.curved-top-bg {
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: #fff;
    top: 0;
    left: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 1;
    transform: scale(1.1) translateY(-50%);
}

.curved-bottom-bg {
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: #333;
    bottom: 0;
    left: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 1;
    transform: scale(1.1) translateY(50%);
}

.tech-toc {
    display: none;
    font-size: 14px;
    max-width: 250px;
    overflow: hidden;
    z-index: 3;
}

.tech-toc__title {
    color: #9C9C9C;
    font-size: 14px;
    font-weight: 800;
}

.tech-toc__item {
    color: #9C9C9C;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.new-tech-page .article-detail__content-map a {
    padding-left: 0;
    border: none;
    transition: all .5s ease;
}
.new-tech-page .article-detail__content-map a.active {
    padding-left: 15px;
    border-left: 2px solid #f93635;
}
.new-tech-page .hide-scrollbar {
    max-height: 80vh;
}

#navigate-card-collapse-1 {
    width: 235px;
    background: #fff;
}

#navigate-card .card {
    border-radius: 0;
    background: none;
    padding: 0;
    box-shadow: none;
}
#navigate-card .card-header {
    padding: 6px 30px;
    background-color: #72195A;
    border-radius: 24px;
}
#navigate-card .btn-link {
    color: #fff;
}

#navigate-card .btn-link::before {
    color: #fff;
    right: 30px;
}

#navigate-card .card-body ul {
    padding-left: 0;
    list-style: none;
}
#navigate-card .card-body li {
    list-style: none;
}


.hide-on-scroll {
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width: 1229px) {
    #navigate-card {
        position: fixed;
        width: 100%;
        padding: 0 15px;
        z-index: 4;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-between;
        top: 65px;
    }

    #navigate-card .card,
    #navigate-card .btn-contact-primary {
        position: relative;
        width: 100%;
        max-width: calc(50% - 15px);
    }
}
@media screen and (min-width: 992px) {
    .overlapped-box .--bordered-lg-right {
        border-right: 1px solid #000;
    }

    .text-size-lg-60 {
        font-size: 60px;
    }

    .title-description {
        font-size: 20px;
    }

    .hover-box {
        min-height: 403px;
    }
}

@media screen and (min-width: 1230px) {
    .overlapped-box {
        left: calc((100% - 1200px) / 2);
    }

    #navigate-card {
        position: fixed;
        top: 70px;
        right: 15px;
        padding-right: 15px;
        width: 235px;
        z-index: 4;
        right: calc((100% - 1300px) / 2);
    }
}


@media screen and (min-width: 1300px) {
    .fixed-on-scroll ~ .btn-contact-primary {
        right: calc((100% - 1330px) / 2);
    }

    .tech-toc {
        right: calc((100% - 1330px) / 2);
        display: block;
    }
}

@media screen and (min-width: 1367px) {
    .fixed-on-scroll ~ .btn-contact-primary,
    .tech-toc {
        right: calc((100% - 1440px) / 2);
    }

    #navigate-card {
        right: calc((100% - 1400px) / 2);
    }
}
